.App {
  text-align: center;
  width: 500px;
  margin: auto;
}

/* input styling */

.default {
  padding: 4px 8px;
  border: 1.4px solid lightgray;
  border-radius: 4px;
}

.default:focus {
  border: 1.4px solid purple;
  outline: none;
}

/* textarea styling */

textarea {
  border: 1.4px solid lightgray;
  border-radius: 4px;
}

textarea:focus {
  border: 1.4px solid purple;
  outline: none;
}

/* button styling */

button {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: fuchsia;
  padding: 3px 8px;
  border: 1.4px solid fuchsia;
  border-radius: 4px;
}

button:hover {
  color: fuchsia;
  background-color: white;
}

/* navbar styling */

nav {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}

.title {
  color: gray;
  font-size: 1.2rem;
}

.navJoke {
  color: white;
  background-color: purple;
  padding: 5px 8px;
}

.navJoke:hover {
  color: purple;
  background-color: white;
  border: 1.4px solid purple;
  padding: 3.6px 6.6px;
}

.navSignIn {
  color: fuchsia;
  border: 1.4px solid fuchsia;
  padding: 4px 8px;
}

.navSignIn:hover {
  color: white;
  background-color: fuchsia;
}

/* checkmark styling */

.container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
